* {box-sizing: border-box}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    background-color: pink;
    display: flex;


}
section{
    background-color: rgb(250, 7, 7);
    width: 70%;
    height: 250px;
}
aside{
    background-color: blue;
    width: 300px;
    height: 250px;
    flex-shrink: 0;
}